.DS_Store

# 排除外部執行
!src/main/webapp/WEB-INF/findbugs
!src/main/webapp/WEB-INF/pmd
!src/main/webapp/WEB-INF/jad

# eclipse project file
.classpath
.project
.settings

# tmp file
*.tmp
tmp/

# java build file
# *.jar
# *.war
# *.ear
# *.class
build/

# gradle
.gradle
/bin/